<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Assignment Manager</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="app-content/app.css" rel="stylesheet" />
</head>
<body>
    <!-- header -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a ui-sref = "home" class="navbar-brand">Assignment Manager</a>
                    
                    <button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>  
                        <span class="icon-bar"></span>
                    </button>
                    <p ng-show="greet" style="border-color: #f8f8f8;" class="noselect navbar-toggle hidden-sm hidden-md hidden-lg">Hi {{fName}}!</p>
                </div>
                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav">
                    <!--    <li ng-class="{active: activeTab === 'home'}"><a ui-sref="home"><span class="glyphicon glyphicon-home"></span> Home</a></li> -->
                        <!--added by jeremy -->
                        <!-- <li ng-class="{active: activeTab === 'schedule'}" ng-show="isAdmin"><a ui-sref="schedule"><span class="glyphicon glyphicon-list-alt"></span> Schedule</a></li>   -->
                        <li ng-class="{active: activeTab === 'manageMeetings'}" ng-show="isAdmin"><a ui-sref="manageMeetings"><span class="glyphicon glyphicon-list-alt"></span> Meetings</a></li>
                        <li ng-class="{active: activeTab === 'manageUsers'}" ng-show="isAdmin"><a ui-sref="manageUsers"><span class="fa fa-address-card"></span> Publishers</a></li>   
                        <!-- <li ng-class="{active: activeTab === 'manageRotations'}" ng-show="isAdmin"><a ui-sref="manageRotations"><span class="glyphicon glyphicon-hdd"></span> Rotations</a></li> -->                        
						<li ng-class="{active: activeTab === 'fields'}" ng-show="isAdmin"><a ui-sref="fields"><span class="glyphicon glyphicon-th-list"></span> Manage Fields</a></li>                       
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="greet" class="noselect navbar-text hidden-xs">Hi {{uName}}!</li>
                    <!--    <li ng-class="{active: activeTab === 'account'}"><a style="padding-top: 10px;" class="a50px" ui-sref="account"><div class="avatar-circle" ng-style="bgColor"><span class="initials noselect" data-toggle="tooltip" title="View Account">{{initials}}</div></a></li> -->
						<li class = "dropdown"><a style="padding-top: 10px; padding-right:25px" class="a50px dropdown-toggle" data-toggle = "dropdown" href = "#">

                            <div class="avatar-circle" ng-style="bgColor" ng-show="profilePic == ''">
                            <span class="initials noselect" data-toggle="tooltip" title="View Account">{{initials}}
                            </div>
                            <img class="avatar-image" ng-src="{{profilePic}}" ng-show="profilePic !== ''" class="initials noselect" data-toggle="tooltip" title="View Account">

                            <span class = "caret" style="position:absolute; margin-top:-15px; margin-left:35px;"></span></a>
							<ul class = "dropdown-menu">
								<li><a ui-sref="account">Account Settings</a></li>
								<li><a href = "#" data-toggle = "modal" data-target = "#pwModal">Change Password</a></li>
								<li role="separator" class="divider"></li>
								<li><a href = "/login"><span class="glyphicon glyphicon-log-out" ng-click="logout()" data-toggle="tooltip" title="Log Out"></span> Log Out</a></li>
							</ul>
						</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
	
	<!-- Modal for Change Password -->
	<div class="modal fade" id="pwModal" role="dialog" ng-controller = "Account.IndexController as vm">
      <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Change Password</h4>
        </div>
		
        <div class="modal-body">
        	<div ng-show="changePasswordModal" class="flash-message" ng-if="flash">
				<div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
			</div>
			
			<form novalidate>
			<div class="form-group">
				<label for="oldPassword">Old Password</label>
				<input type="password" id="oldPassword" class="form-control" ng-model="vm.user.oldPassword" required/>
			</div>
			<div class="form-group">
				<label for="password">New Password</label>
				<input type="password" id="password" class="form-control" ng-model="vm.user.password" required/>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm New Password</label>
				<input type="password" id="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" required/>
			</div>
			</form>
			
		</div>
          	
        <div class="modal-footer">
			<button type = "submit" class="btn btn-primary" ng-click="vm.saveUserPassword()">Save</button>
			<button type="button" class="btn btn-danger"  data-dismiss="modal" ng-click = "closeModal()">Close</button>	
		</div>
		
	  </div>
      
      </div>
	</div>

 
    <!-- main -->
    
    <main class="container-fluid" ui-view></main>
    
    <!-- footer -->
    <footer></footer>


    <!-- modal serbisyo -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <!-- external scripts -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- added by jeremy to implement ng-csv (angular included above) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>    
    
    <!-- added by jeremy for ui-bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
 
    <!-- application scripts -->
    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="home/index.controller.js"></script>
    <script src="account/index.controller.js"></script>
	
	<!-- added by glenn -->
	<script src="manageUsers/index.controller.js"></script>

    <!-- added by jeremy -->
    <script src="app-services/schedule.service.js"></script>
    <script src="app-services/fields.service.js"></script>      
    <script src="schedule/index.controller.js"></script>
    <script src="fields/index.controller.js"></script>

    <!-- added by dyan0 socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="app-services/socket.service.js"></script>
    <script src="socket.js"></script>
	
    <script src="Rotation/index.controller.js"></script>
    <script src="app-services/rotation.service.js"></script> 

    <script src="meeting/index.controller.js"></script>
    <script src="app-services/meeting.service.js"></script> 

	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>	
    
</body>
</html>