
<div style = "text-align:center" class = "spinner" ng-show = "loading"> 
        <img src="loader.gif"/>
</div>

<div style="width:90%; margin-left: auto; margin-right: auto;" ng-hide = "loading">
    <div class="container">
        <div class="row">
            <div class="panel-group col-sm-6" style="table-layout: fixed;">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Group 1</h4>
                    </div>
                    <div class="panel-body">
                        <!-- <label>Members</label> -->
                        <table class="table table-striped table-hover col-sm-6">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Members</th>
                                    <th class="col-sm-1">Last Assignment</th>
                                    <th class="col-sm-1">Last as Assistant</th>
                                    <th class="col-sm-2">Last Assistant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == '1'">
                                    <td class="font-weight-bold">{{publisher.username}}</td>
                                    <td>{{publisher.last_assign}}</td>
                                    <td>{{publisher.assistant_sched}}</td>
                                    <td>{{publisher.last_assistant}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="pull-right">number of publishers: {{group1}}</h5>
                    </div>
                </div>
            </div>
            <div class="panel-group col-sm-6" style="table-layout: fixed;">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Group 2</h4></div>
                    <div class="panel-body">
                        <!-- <label>Members</label> -->
                        <table class="table table-striped table-hover col-sm-6">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Members</th>
                                    <th class="col-sm-1">Last Assignment</th>
                                    <th class="col-sm-1">Last as Assistant</th>
                                    <th class="col-sm-2">Last Assistant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == '2'">
                                    <td class="font-weight-bold">{{publisher.username}}</td>
                                    <td>{{publisher.last_assign}}</td>
                                    <td>{{publisher.assistant_sched}}</td>
                                    <td>{{publisher.last_assistant}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="pull-right">number of publishers: {{group2}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div style="width:90%; margin-left: auto; margin-right: auto;" ng-hide = "loading">
    <div class="container">
        <div class="row">
            <div class="panel-group col-sm-6" style="table-layout: fixed;">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Group 3</h4></div>
                    <div class="panel-body">
                        <!-- <label>Members</label> -->
                        <table class="table table-striped table-hover col-sm-6">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Members</th>
                                    <th class="col-sm-1">Last Assignment</th>
                                    <th class="col-sm-1">Last as Assistant</th>
                                    <th class="col-sm-2">Last Assistant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == '3'">
                                    <td class="font-weight-bold">{{publisher.username}}</td>
                                    <td>{{publisher.last_assign}}</td>
                                    <td>{{publisher.assistant_sched}}</td>
                                    <td>{{publisher.last_assistant}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="pull-right">number of publishers: {{group3}}</h5>
                    </div>
                </div>
            </div>
            <div class="panel-group col-sm-6" style="table-layout: fixed;">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Group 4</h4></div>
                    <div class="panel-body">
                        <!-- <label>Members</label> -->
                        <table class="table table-striped table-hover col-sm-6">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Members</th>
                                    <th class="col-sm-1">Last Assignment</th>
                                    <th class="col-sm-1">Last as Assistant</th>
                                    <th class="col-sm-2">Last Assistant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == '4'">
                                    <td class="font-weight-bold">{{publisher.username}}</td>
                                    <td>{{publisher.last_assign}}</td>
                                    <td>{{publisher.assistant_sched}}</td>
                                    <td>{{publisher.last_assistant}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="pull-right">number of publishers: {{group4}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div style="width:90%; margin-left: auto; margin-right: auto;" ng-hide = "loading">
    <div class="container">
        <div class="row">
            <div class="panel-group col-sm-6" style="table-layout: fixed;">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Group 5</h4></div>
                    <div class="panel-body">
                        <!-- <label>Members</label> -->
                        <table class="table table-striped table-hover col-sm-6">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Members</th>
                                    <th class="col-sm-1">Last Assignment</th>
                                    <th class="col-sm-1">Last as Assistant</th>
                                    <th class="col-sm-2">Last Assistant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == '5'">
                                    <td class="font-weight-bold">{{publisher.username}}</td>
                                    <td>{{publisher.last_assign}}</td>
                                    <td>{{publisher.assistant_sched}}</td>
                                    <td>{{publisher.last_assistant}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="pull-right">number of publishers: {{group5}}</h5>
                    </div>
                </div>
            </div>
            <div class="panel-group col-sm-6" style="table-layout: fixed;">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Group 6</h4></div>
                    <div class="panel-body">
                        <!-- <label>Members</label> -->
                        <table class="table table-striped table-hover col-sm-6">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Members</th>
                                    <th class="col-sm-1">Last Assignment</th>
                                    <th class="col-sm-1">Last as Assistant</th>
                                    <th class="col-sm-2">Last Assistant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == '6'">
                                    <td class="font-weight-bold">{{publisher.username}}</td>
                                    <td>{{publisher.last_assign}}</td>
                                    <td>{{publisher.assistant_sched}}</td>
                                    <td>{{publisher.last_assistant}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="pull-right">number of publishers: {{group6}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div style="width:90%; margin-left: auto; margin-right: auto;" ng-hide = "loading">
    <div class="container">
        <div class="row">
            <div class="panel-group col-sm-6" style="table-layout: fixed;">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Group 7</h4></div>
                    <div class="panel-body">
                        <!-- <label>Members</label> -->
                        <table class="table table-striped table-hover col-sm-6">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Members</th>
                                    <th class="col-sm-1">Last Assignment</th>
                                    <th class="col-sm-1">Last as Assistant</th>
                                    <th class="col-sm-2">Last Assistant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == '7'">
                                    <td class="font-weight-bold">{{publisher.username}}</td>
                                    <td>{{publisher.last_assign}}</td>
                                    <td>{{publisher.assistant_sched}}</td>
                                    <td>{{publisher.last_assistant}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="pull-right">number of publishers: {{group7}}</h5>
                    </div>
                </div>
            </div>
            <div class="panel-group col-sm-6" style="table-layout: fixed;">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Unasigned</h4></div>
                    <div class="panel-body">
                        <!-- <label>Members</label> -->
                        <table class="table table-striped table-hover col-sm-6">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Members</th>
                                    <th class="col-sm-1">Last Assignment</th>
                                    <th class="col-sm-1">Last as Assistant</th>
                                    <th class="col-sm-2">Last Assistant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == 'unassigned'">
                                    <td class="font-weight-bold">{{publisher.username}}</td>
                                    <td>{{publisher.last_assign}}</td>
                                    <td>{{publisher.assistant_sched}}</td>
                                    <td>{{publisher.last_assistant}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 class="pull-right">number of publishers: {{unassigned}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
