
<div style = "text-align:center" class = "spinner" ng-show = "loading"> 
        <img src="loader.gif"/>
</div>

<div style="width:90%; margin-left: auto; margin-right: auto;" ng-hide = "loading">
        <div class="container">
            <div class="row" ng-repeat="n in [1,3,5,7]">
                <div class="panel-group col-sm-6" style="table-layout: fixed;">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4>Group {{n}}</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover col-sm-6">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Members</th>
                                        <th class="col-sm-1">Last Assignment</th>
                                        <th class="col-sm-1">Last as Assistant</th>
                                        <th class="col-sm-2">Last Assistant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="publisher in publishers track by $index" ng-if="publisher.group == n">
                                        <td class="font-weight-bold">
                                            <a ng-if="publisher.asAssistant=='Yes'"><i class="fa fa-slideshare" aria-hidden="true" ng-click="vm.changeAsAssistant(publisher, 'Yes')" data-toggle="tooltip" title="ToStudent"></i></a>
                                            <a ng-if="publisher.asAssistant=='No'"><i class="fa fa-github-alt" aria-hidden="true" ng-click="vm.changeAsAssistant(publisher, 'No')" data-toggle="tooltip" title="ToAssistant"></i></a>
                                            <a ng-if="publisher.asAssistant==null"><i class="fa fa-simplybuilt" aria-hidden="true" ng-click="vm.changeAsAssistant(publisher, null)" data-toggle="tooltip" title="Initialize"></i></a>
                                             {{publisher.username}}</td>
                                        <td>{{publisher.last_assign}} <a ng-if="publisher.rotation_done=='Yes'"><i class="fa fa-refresh" aria-hidden="true" ng-click="vm.rotationDone(publisher._id)" data-toggle="tooltip" title="Refresh"></i></a></td>
                                        <td>{{publisher.assistant_sched}}</td>
                                        <td>{{publisher.last_assistant}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5 class="pull-right font-weight-bold" ng-if="n == 1">number of publishers: {{group1}}</h5>
                            <h5 class="pull-right font-weight-bold" ng-if="n == 3">number of publishers: {{group3}}</h5>
                            <h5 class="pull-right font-weight-bold" ng-if="n == 5">number of publishers: {{group5}}</h5>
                            <h5 class="pull-right font-weight-bold" ng-if="n == 7">number of publishers: {{group7}}</h5>
                        </div>
                    </div>
                </div>
                <div class="panel-group col-sm-6" style="table-layout: fixed;">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 ng-if="n!=7">Group {{n+1}}</h4>
                            <h4 ng-if="n==7">Unassigned</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover col-sm-6">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Members</th>
                                        <th class="col-sm-1">Last Assignment</th>
                                        <th class="col-sm-1">Last as Assistant</th>
                                        <th class="col-sm-2">Last Assistant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="publisher in publishers track by $index" ng-if="(publisher.group == n+1 && n!=7) || (publisher.group == 'unassigned' && n==7)">
                                        <td class="font-weight-bold">
                                            <a ng-if="publisher.asAssistant=='Yes'"><i class="fa fa-slideshare" aria-hidden="true" ng-click="vm.changeAsAssistant(publisher, 'Yes')" data-toggle="tooltip" title="ToStudent"></i></a>
                                            <a ng-if="publisher.asAssistant=='No'"><i class="fa fa-github-alt" aria-hidden="true" ng-click="vm.changeAsAssistant(publisher, 'No')" data-toggle="tooltip" title="ToAssistant"></i></a>
                                            <a ng-if="publisher.asAssistant==null"><i class="fa fa-simplybuilt" aria-hidden="true" ng-click="vm.changeAsAssistant(publisher, null)" data-toggle="tooltip" title="Initialize"></i></a>
                                             {{publisher.username}}</td>
                                        <td>{{publisher.last_assign}}</td>
                                        <td>{{publisher.assistant_sched}}</td>
                                        <td>{{publisher.last_assistant}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5 class="pull-right font-weight-bold" ng-if="n == 1">number of publishers: {{group2}}</h5>
                            <h5 class="pull-right font-weight-bold" ng-if="n == 3">number of publishers: {{group4}}</h5>
                            <h5 class="pull-right font-weight-bold" ng-if="n == 5">number of publishers: {{group6}}</h5>
                            <h5 class="pull-right font-weight-bold" ng-if="n == 7">number of publishers: {{unassigned}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

